@import '../styles';

#intro {
    background-color: $white;
    padding-bottom: 5rem;
    width: 100%;
}

.intro {
    .intro-pic {
        width: 100%;
        padding: 3rem 0 2rem 0;
        &-img {
            width: 100%;
            img {
                width: 160%;
            }
        }
    }
    &-info {
        text-align: center;
        h1 {
            padding: 1.5rem 0;
            font-size: 2.5em;
            line-height: 1.15em;
        }
        p {
            font-size: 1.1em;
        }
        &-button-wrapper {
            padding: 1.5rem 0;
            width: 50%;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 640px) {
    .intro {
        display: flex;
        flex-direction: row-reverse;

        .intro-pic {
            &-img {
                img {
                    width: 120%;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            &-button-wrapper {
                margin: 0 auto 0 0;
                width: 60%;
            }
        }
    }
}